// 1450px
@include xxxxlg-xxxxxlg {
    // @include hero-xxxxlg-xxxxxlg;
}
// 1380px
@include xxxlg-xxxxlg {
    @include hero-xxxlg-xxxxlg;
}
// 1250px
@include xlg-xxlg-extra {
    @include hero-xlg-xxlg-extra;
}
// 1180px
@include xlg-xxlg {
    @include hero-xlg-xxlg;
}
// 1024px
@include lg-xlg {
    ::-webkit-scrollbar{
        display: none;
    }
    // h1,h2 {
    //     font-size: 38px;
    //     line-height: 44px;
    // }
    h6 {
        font-size: 16px;
        line-height: 22px;
    }
    // body {
    //     font-size: 20px;
    //     line-height: 26px;
    // }
    @include hero-lg-xlg;
    @include benefits-lg-xlg;
    @include footer-lg-xlg;

}
// 930px
@include md-lg {
    // h1,h2 {
    //     font-size: 32px;
    //     line-height: 38px;
    // }
    // body {
    //     font-size: 17px;
    //     line-height: 25px;
    // }
    h3 {
        font-size: 70px;
    }
    @include hero-md-lg;
    @include intro-md-lg;
    @include benefits-md-lg;
    @include footer-md-lg;

    @include info-md-lg;

}
// 750px
@include sm-md {
    h1 {
        font-size: 50px;
        line-height: 55px;
    }
    h3 {
        font-size: 90px;
    }
    p {
        &.big {
            font-size: 22px;
            line-height: 28px;
        }
    }
    .auto__container {
        padding: 0 20px;
    }
    @include hero-sm-md;
    @include intro-sm-md;
    @include benefits-sm-md;
    @include footer-sm-md;
    @include info-sm-md;

}
// 650px
@include sm-md-extra {
    @include hero-sm-md-extra;
}
// 540px
@include xsm-sm  {
    h2 {
        font-size: 42px;
        line-height: 46px;
    }
    h5 {
        font-size: 21px;
        line-height: 28px;
    }
    body {
        font-size: 21px;
        line-height: 28px;
    }
    p {
        &.big {
            font-size: 21px;
            line-height: 28px;
        }
    }
    // h6 {
    //     font-size: 14px;
    //     line-height: 18px;
    // }
    // body {
    //     font-size: 15px;
    //     line-height: 23px;
    // }
    // .button {
    //     font-size: 15px;
    //     padding: 6px;
    // }
    @include hero-xsm-sm;
    @include intro-xsm-sm;
    @include benefits-xsm-sm;
    @include footer-xsm-sm;
    @include info-xsm-sm;

}
// 440px
@include xxsm-xsm  {
    @include hero-xxsm-xsm;
}
// 360px
@include xxxsm-xxsm  {
    .auto__container {
        padding: 0 15px;
    }
    h1 {
        font-size:40px;
        line-height: 45px;
    }
    h2 {
        font-size:33px !important;
        line-height: 38px !important;
    }
    h3 {
        font-size: 70px;
    }
    h5 {
        font-size: 17px;
        line-height: 24px;
    }
    body {
        font-size: 17px;
        line-height: 24px;
    }
    p {
        &.big {
            font-size: 17px;
            line-height: 24px;
        }
    }
    .intro {
        &__inner {
            &-title {
                min-height: 240px;
            }
        }
    }
    // @include hero-xxxsm-xxsm;
}

