.hero {
  padding: 200px 0 120px;
  &__inner {
    padding: 0 40px;
    &-top {
      position: relative;
    }
    &-image {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
      }
    }
    &-logo {
      width: 30%;
      max-width: 200px;
      margin: 0 auto 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
      }
    }
    &-title {
      width: 100%;
      position: absolute;
      bottom: 35px;
      left: 50%;
      transform: translateX(-50%);
    }
    &-content {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .button {
      width: 100%;
      max-width: 120px;
      margin-bottom: 35px;
    }
    h1 {
      text-align: center;
    }
    p {
      color: $gray;
      text-align: center;
    }
  }
  &Foot {
    display: flex;
    align-items: center;
    padding-top: 100px;
    &__icon {
      width: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
      img {
        width: 100%;
      }
    }
    h5 {
      br {
        &.mob {
          display: none;
        }
      }
    }
  }
}
// 1380px
@mixin hero-xxxlg-xxxxlg {
  .hero {
  }
}
// 1250px
@mixin hero-xlg-xxlg-extra {
  .hero {
  }
}
// 1180px
@mixin hero-xlg-xxlg {
  .hero {
  }
}
// 1024px
@mixin hero-lg-xlg {
  .hero {
  }
}
// 930px
@mixin hero-md-lg {
  .hero {
    &__inner {
      padding: 0 25px;
      &-image {
        img {
          width: 130%;
        }
      }
    }
  }
}
// 750px
@mixin hero-sm-md {
  .hero {
    &__inner {
      padding: 0 20px;

      &-image {
        img {
          width: 170%;
        }
      }
      &-logo {
      }
    }
  }
}
// 650px
@mixin hero-sm-md-extra {
  .hero {
  }
}
// 540px
@mixin hero-xsm-sm {
  .hero {
    padding: 250px 0 150px;
    &__inner {
      &-logo {
        width: 35%;
        max-width: 100px;
        margin-bottom: 10px;
      }
      &-title {
        position: static;
        transform: translate(0);
        margin: -55px 0 30px;
      }
      .button {
        margin-bottom: 30px;
      }
    }
    &Foot {
      padding-top: 30px;
      flex-direction: column;
      align-items: center;
      text-align: center;
      &__icon {
        margin: 0 0 5px 0;
      }
      h5 {
        br {
          &.mob {
            display: block;
          }
        }
      }
    }
  }
}
// 440px
@mixin hero-xxsm-xsm {
  .hero {
  }
}
.info {
  &.big {
    padding: 120px 0 60px;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 40px;
    &-image {
      width: 100%;
      max-width: 810px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: -6% 0;
      &.sm {
        margin: 40px 0 0;
        img {
          width: 100%;
        }
      }
      img {
        width: 100%;
      }
    }
    &-content {
      width: 100%;
      max-width: 810px;
    }
    &-logo {
      width: 120px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 15px;
      img {
        width: 100%;
      }
    }
    h2 {
      margin-bottom: 40px;
      br {
        &.mob {
          display: none;
        }
      }
    }
    p {
      color: $gray;
      max-width: 700px;
      span {
        font-size:65%;
        position: relative;
        top: -5px;
        left: -3px;
      }
    }
  }
}
// 930px
@mixin info-md-lg {
  .info {
    &__inner {
      padding: 0 25px;
    }
  }
}
// 750px
@mixin info-sm-md {
  .info {
    &.big {
    }
    &__inner {
      padding: 0 20px;
      &-image {
        img {
          width: 110%;
        }
      }
    }
  }
}
// 650px
@mixin info-sm-md-extra {
  .info {
  }
}
// 540px
@mixin info-xsm-sm {
  .info {
    &__inner {
      &-logo {
        width: 100px;
        margin-bottom: 10px;
      }
      &-image {
        &.sm {
          margin-top: 60px;
          img {
            width: 110%;
          }
        }
        img {
          width: 130%;
        }
      }
      h2 {
        margin-bottom: 30px;
        br {
          &.mob {
            display: block;
          }
        }
      }
      p {
        max-width: 295px;
      }
    }
  }
}
// 440px
@mixin info-xxsm-xsm {
  .info {
  }
}
.intro {
  padding-bottom: 24px;
  &__inner {
    &-row {
      display: flex;
      justify-content: space-between;
    }
    &-col {
      width: calc(50% - 12px);
      border-radius: 30px;
      background-color: $black2;
      padding: 45px 40px 110px 40px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      overflow: hidden;
      &.green {
        background-color: #19291d;
        h2 {
          color: #30d158;
        }
      }
      &.orange {
        background-color: #ca551e;
        h2 {
          span {
            color: #e9bba5;
          }
        }
      }
      &.blue {
        background-color: #257983;
      }
      &.purple {
        background-color: #181725;
        h2 {
          font-size: 57px;
          line-height: 63px;
          max-width: unset;
        }
      }
      &-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: none;
        z-index: 1;
        img {
          @include fullImage;
        }
      }
    }
    &-title {
      min-height: 410px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 2;
      p {
        width: 100%;
      }
    }
    &-image {
      width: 100%;
      max-width: 150px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 2;
      padding: 80px 0 50px;
      &.big {
        width: 60%;
        max-width: 240px;
        opacity: .8;
        padding: 120px 0 0;
      }
      img {
        width: 100%;
      }
    }
    &-icon {
      width: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 40px;
      align-self: flex-start;
      img {
        width: 100%;
      }
    }
    h6 {
      margin-bottom: 80px;
      position: relative;
      z-index: 2;
      &.low {
        margin-bottom: 40px;
      }
    }
    p {
      position: relative;
      z-index: 2;
      &.mob {
        display: none;
      }
    }
    h2 {
      text-align: center;
      font-weight: 600;
      max-width: 300px;
      margin: 0 auto;

      b {
        font-size: 50%;
        position: relative;
        top: -15px;
        left: -8px;
      }
      br {
        &.mob {
          display: none;
        }
      }
    }
  }
}
// 930px
@mixin intro-md-lg {
  .intro {
    &__inner {
      &-col {
        width: calc(50% - 8px);
        padding: 25px 25px 90px 25px;
        border-radius: 24px;
        &.purple {
          h2 {
            font-size: 52px;
            line-height: 58px;
          }
        }
      }
      &-image {
        &.big {
          padding-top: 60px;
        }
      }
      h6 {
        margin-bottom: 60px;
      }
    }
  }
}
// 750px
@mixin intro-sm-md {
  .intro {
    &__inner {
      &-row {
        flex-direction: column;
        align-items: center;
      }
      &-col {
        width: 100%;
        max-width: unset;
        margin-bottom: 24px;
        padding: 35px 35px 90px 35px;
        &:last-child {
          margin: 0;
        }
      }
    }
  }
}
// 650px
@mixin intro-sm-md-extra {
  .intro {
  }
}
// 540px
@mixin intro-xsm-sm {
  .intro {
    padding-bottom: 20px;
    &__inner {
      &-col {
        padding: 35px 20px 90px;
        border-radius: 20px;
        margin-bottom: 18px;
        &.sm {
          padding-bottom: 50px;
        }
        &.purple {
          h2 {
            font-size: 44px;
            line-height: 50px;
          }
        }
        & > p {
          max-width: 250px;
          display: none;
          &.mob {
            display: block;
          }
        }
      }
      &-image {
        &.big {
          max-width: 160px;
        }
      }
      &-title {
        min-height: 360px;
      }
      h6 {
        margin-bottom: 100px;
        &.sm {
          margin-bottom: 50px;
        }
        &.low {
          margin-bottom: 24px;
        }
      }
      h2 {
        font-size: 38px;
        line-height: 44px;
        br {
          &.mob {
            display: block;
          }
        }
        &.ex {
          br {
            display: none;
            &.mob {
              display: block;
            }
          }
        }
      }
    }
  }
}
.benefits {
  margin-bottom: 24px;
  &__inner {
    background-color: #3b4980;
    border-radius: 30px;
    padding: 40px;
    overflow: hidden;
    position: relative;
    &.dark {
      background-color: #061420;
    }
    &.main {
      background-color: #161616;
    }
    &-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: baseline;
      pointer-events: none;
      img {
        @include fullImage;
      }
    }
    &-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 100px 0 50px;
      position: relative;
      &.rev {
        justify-content: flex-end;
      }
    }
    &-content {
      width: 45%;
      max-width: 365px;
    }
    &-image {
      width: 75%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(40%, -45%);
      &.rev {
        right: unset;
        left: 0;
        transform: translate(-40%, -45%);
      }
      img {
        width: 100%;
      }
    }
    &-text {
      width: 50%;
      max-width: 360px;
      min-height: 410px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      &.big {
        max-width: 400px;
      }
      &.center {
        text-align: center;
      }
    }
    &-main {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 120px 0;
    }
    &-info {
      padding-top: 50px;
      max-width: 715px;
    }
    &-logo {
      width: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 24px;
      img {
        width: 100%;
      }
    }
    h2 {
      margin-bottom: 30px;
      &.dark {
        span {
          color: #4693ad;
        }
      }
      span {
        color: #809afc;
      }
      br {
        &.mob {
          display: none;
        }
      }
    }
    h6 {
      position: relative;
    }
    p {
      span {
        font-size: 65%;
        position: relative;
        top: -5px;
        left: -3px;
      }
      b {
        font-weight: 600;
      }
    }
  }
}
// 1024px
@mixin benefits-lg-xlg {
  .benefits {
    &__inner {
      &-row {
        padding: 60px 0;
      }
    }
  }
}
// 930px
@mixin benefits-md-lg {
  .benefits {
    margin-bottom: 16px;
    &__inner {
      padding: 25px;
      border-radius: 24px;
      &-row {
        padding: 45px 0;
      }
    }
    &Item {
      margin: 15px 0;
      &__icon {
        width: 60px;
        height: 72px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 16px;
        &.mid {
          width: 70px;
        }
        &.big {
          width: 85px;
        }
        img {
          width: 100%;
        }
      }
    }
  }
}
// 750px
@mixin benefits-sm-md {
  .benefits {
    margin-bottom: 24px;
    &__inner {
      &-row {
        flex-direction: column;
        padding: 0;
        &.rev {
          justify-content: flex-start;

        }
      }
      &-content {
        width: 100%;
        max-width: unset;
        margin-bottom: 24px;
      }
      &-image {
        width: 120%;
        position: static;
        transform: translate(15%, 0);
        order: 2;
        &.rev {
          transform: translate(15%, 0);
        }
      }
      &-text {
        width: 100%;
        min-height: unset;
        padding-bottom: 110px;
        max-width: unset;
        align-self: flex-start;
        &.big {
          padding-bottom: 70px;
        }
        &.center {
          padding: 200px 0;
          p {
            max-width: unset;
          }
        }
        p {
          max-width: 360px;
        }
      }
      &-info {
        padding-top: 0;
      }
      &-main {
        padding: 40px 0;
      }
 
      & > h6 {
        margin-bottom: 30px;
      }
      h2 {
        margin-bottom: 14px;

      }
    }
  }
}
// 650px
@mixin benefits-sm-md-extra {
  .benefits {
  }
}
// 540px
@mixin benefits-xsm-sm {
  .benefits {
    margin-bottom: 18px;
    &__inner {
      border-radius: 20px;
      padding: 35px 20px 20px;

      &-content {
        margin-bottom: 12px;
      }
      &-text {
        padding-bottom: 130px;
        &.big {
          padding-bottom: 0;
        }
        &.center {
          padding: 130px 0;
        }
        p {
          br {
            display: none;
          }
          b {
            display: block;
            margin-bottom: 20px;
          }
        }
      }
      &-logo {
        width: 45px;
        margin-bottom: 15px;
      }
      &-info {
        max-width: 290px;
      }
      &-image {
        width: 160%;
        transform: translate(9%, 15%);
        &.rev {
          transform: translate(13%, 20%);
        }
      }
      & > h6 {
        margin-bottom: 24px;
      }
      h2 {
        &.ex {
          br {
            display: none;
          }
        }
        br {
          &.mob {
            display: block;
          }
        }
      }
    }
  }
}
